extends layout
block link
    // MaterializeCSS
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css")
    // Materialize Icons
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    // Custom Css
    link(rel="stylesheet" href="/stylesheets/style.css")
block header
    header
        .navbar-fixed
            nav.indigo.darken-3
                .container
                    .nav-wrapper
                    a.brand-logo SIG Bétera
                    ul#nav-mobile.right.hide-on-med-and-down
                        li
                            a(href="/visor") Visor
block content
    h1 Hola admin #{user.name}