extends layout

block link
	// jQuery UI
	link(rel="stylesheet" href="/javascripts/jquery-ui/jquery-ui.min.css")
	// Openlayers 3
	link(rel="stylesheet" href="/javascripts/ol3/ol.css")
	// ol3-ext
	link(rel="stylesheet" href="/javascripts/ol3-ext/control/profilcontrol.css")
	link(rel="stylesheet" href="/javascripts/ol3-ext/control/controlbar.css")
	link(rel="stylesheet" href="/javascripts/ol3-ext/control/layerswitchercontrol.css")
	// MaterializeCSS
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css")
	// Materialize Icons
	link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	// Custom CSS
	link(rel="stylesheet" href="/stylesheets/style.css")
block content
	#map
		// Menú lateral
		ul#slide-out.side-nav.fixed
			a#close-sidenav(href="#" style="position : absolute ; right : 0em; top : 0em; font-size : 2em; z-index : 1;" class="material-icons red-text hide-on-large-only") clear
			li(style="background : url('http://www.betera.com/wp-content/uploads/policia-local-31.jpg'); background-size : 150%;")
				.userView
					if (user)
						a()
							img.circle(src="#{user.gravatar}")
						a()
							span.black-text.name #{user.name}
						a(href='#!email')
							span.black-text.email #{user.email}
					else
						a()
							i.material-icons.prefix.circle.white-text.darken-2(style="font-size : 5em;") account_circle
						a()
							span.black-text.name Usuario Invitado			

			li
				a(href='/') Inicio
					i.red-text.left.indigo-text.material-icons home
			li
				.divider
			if user
				if user.rol == 'admin'
					li
						a.waves-effect(href='/admin') Panel de Administador
							i.red-text.left.indigo-text.material-icons dashboard
					li
						.divider
			li.no-padding
				ul.collapsible.collapsible-accordion
					li
						a.collapsible-header
							| Mapas
							i.red-text.left.indigo-text.material-icons maps
							i.material-icons(style="float : right; margin : 0px;") arrow_drop_down
						.collapsible-body#layerSwitcher
			li
				.divider
			li
				a#add-wms-btn(href='#') Añadir Servicio WMS
					i.red-text.left.indigo-text.material-icons note_add
			li
				.divider
			li.no-padding
				ul.collapsible.collapsible-accordion
					li
						a.collapsible-header
							| Imprimir mapa
							i.red-text.left.indigo-text.material-icons print
							i.material-icons(style="float : right; margin : 0px;") arrow_drop_down
						.collapsible-body
							ul
								li
									a(id="export-jpg" href="#" download="mapa.jpg") JPG
								li
									a(id="export-png" href="#" download="mapa.png") PNG
								li
									a(id="export-pdf" href="#" download="mapa.pdf") PDF
			li
				.divider
			li.no-padding
				ul.collapsible.collapsible-accordion
					li.active
						a.collapsible-header.active
							| Miniatura
							i.red-text.left.indigo-text.material-icons web_asset
							i.material-icons(style="float : right; margin : 0px;") arrow_drop_down
						.collapsible-body(style="display : inline !important")
							.overview.col.s12(style="max-height : 200px; height : 200px; margin : 0.2em;")
			li
				.divider
			if user
				li 
					a#logout(href="#") Cerrar Sesión
						i.red-text.left.material-icons exit_to_app
				li
					.divider
	#modal-perfil.modal.bottom-sheet.hoverable
		.modal-header.card-panel.indigo.darken-2(style="text-align : center; margin : 0px; top: 0px;")
			h4.flow-text.white-text.text-darken-2(style="margin : 0px") Perfil
		.modal-content(style="padding : 0px;")
			#perfil-container(style="padding-top : 15px;")
		.modal-footer.fixed.grey.lighten-2
			a.modal-action.waves-effect.waves-green.btn-flat.tooltipped('data-position' = 'top', 'data-delay' = 50, 'data-tooltip' = 'Elige una opción de descarga')
				i.material-icons.green-text.darken-2 file_download
			a#download-perfil.modal-action.waves-effect.waves-green.btn-flat.tooltipped('data-position' = 'top', 'data-delay' = 50, 'data-tooltip' = 'Descargar Perfil como PNG')
				span.font-size-1.indigo-text.darken-2.flow-text PNG
			a#download-perfil-geojson.modal-action.waves-effect.waves-green.btn-flat.tooltipped('data-position' = 'top', 'data-delay' = 50, 'data-tooltip' = 'Descargar LineStringZ como GeoJSON')
				span.font-size-1.indigo-text.darken-2.flow-text GeoJSON
	#modal-feature.modal.bottom-sheet.hoverable
		.modal-header.card-panel.indigo.darken-2(style="text-align : center; margin : 0px;")
			h4.flow-text.white-text.text-darken-2(style="margin : 0px") Información
		.modal-content(style="padding : 0px; overflow-x : hidden;")
		.modal-footer.grey.lighten-2
	#modal-wms.modal.modal-fixed-footer
		.modal-header.card-panel.indigo.white-text(style="pointer : default !important; margin-top : 0px;") Nueva Conexión WMS
		.modal-content.row
			form#get-layers-wms-form(action='#' enctype="multipart/form-data")
				.row
					.input-field.col.s12
						input#url_servicio.validate(placeholder='Url del servicio', type='text')
						label(for='first_name') Url del servicio
				.col.s6.offset-s3
					button.btn.waves-effect.waves-light(name="action" type="submit") Obtener Capas
						i.material-icons.right send
			form#add-wms-form(action="#")
				.input-field.col.s12(style="margin-top : 30px;")
					select#select-capas-wms(multiple='')
						option(selected="" disabled="" value="") Elige capas a añadir
					label Capas del servicio
				.col.s6.offset-s3
					button.btn.waves-effect.waves-light(name="action" type="submit" disabled="") Añadir Servicio WMS
						i.material-icons.right send
		.modal-footer
			a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Cerrar
block script
	// jQuery
	script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
	// jQuery UI
	script(src="/javascripts/jquery-ui/jquery-ui.min.js")
	// Openlayers 3
	script(src="/javascripts/ol3/ol-debug.js")
	// MaterializeCSS (Google)
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js")
	// ol3-ext 
	script(src="/javascripts/ol3-ext/interaction/drawregularinteraction.js")
	script(src="/javascripts/ol3-ext/control/profilcontrol.js")
	script(src="/javascripts/ol3-ext/control/togglecontrol.js")
	script(src="/javascripts/ol3-ext/control/canvasscalelinecontrol.js")
	script(src="/javascripts/ol3-ext/control/controlbar.js")
	script(src="/javascripts/ol3-ext/control/overview.js")
	script(src="/javascripts/ol3-ext/style/fontsymbol.js")
	script(src="/javascripts/ol3-ext/style/fontawesome.def.js")
	script(src="/javascripts/ol3-ext/control/layerswitchercontrol.js")
	script(src="/javascripts/ol3-ext/featureanimation/featureanimation.js")
	script(src="/javascripts/ol3-ext/featureanimation/zoomanimation.js")
	script(src="/javascripts/ol3-ext/utils/jspdf.min.js")
	script(src="/javascripts/ol3-ext/utils/jqExportMap.js")
	//proj4js
	script(src="/javascripts/proj4js/dist/proj4.js")
	// ol-utils
	// layers ol-utils
	script(src="/javascripts/ol-utils/layers.js")
	script(src="/javascripts/ol-utils/controls/mouse-position.js")
	script(src="/javascripts/ol-utils/controls/side-menu.js")
	script(src="/javascripts/ol-utils/controls/modal.js")
	script(src="/javascripts/ol-utils/controls/measure.js")
	script(src="/javascripts/ol-utils/controls/perfil.js")
	script(src="/javascripts/ol-utils/controls/select-control.js")
	script(src="/javascripts/ol-utils/controls/gps.js")

	script(src="/javascripts/ol-utils/map-controller.js")
	//script(src="/javascripts/ol-utils/projs.js")
	//script(src="/javascripts/ol-utils/map.js")
	//script(src="/javascripts/ol-utils/bar.js")
	//script(src="/javascripts/ol-utils/controls/perfil.js")
	script.
		$('#logout').click(function(e){
			console.log('logout');
			e.preventDefault();
			var xhr = new XMLHttpRequest();
			xhr.open('GET', '/usuarios/logout', true);
			xhr.onreadystatechange = function(){
				if(xhr.readyState == 4 && xhr.status >= 200 && xhr.status < 400)
					window.location.replace('/');
				else if (xhr.readyState == 4)
					Materialize.toast('Error al cerrar sesión');
			}
			xhr.send();
		});

		$('#add-wms-btn').click(function(e){
			$('#modal-wms').openModal();
		})

		$('#add-wms-form').submit(function(e){
			e.preventDefault();
			var url = $('#url_servicio').val();
			var selectedLayers = [];

			$('#select-capas-wms').find('option:selected').each(function(i){
				if($(this).val()) selectedLayers.push($(this).val());
			});
			selectedLayers = selectedLayers.join();

			mapController.map.getLayers().forEach(function(l){
				console.log(l.get('defaultLayers'))
				if(l.get('defaultLayers')){
					var tile = new Tile({
						service_url : url.split('?')[0],
						layers : selectedLayers,
						name : selectedLayers
					});
					l.getLayers().extend([tile]);
				}
			});
			$('#modal-wms').closeModal();
		});

		$('#get-layers-wms-form').submit(function(e){
			e.preventDefault();
			var xhr = new XMLHttpRequest();
			var self = this;
			$(this).find('button').attr('disabled', 'disabled');
			xhr.open('POST', '/usuarios/capas/wms/getCapabilities', true);
			xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhr.onreadystatechange = function(){
				if(xhr.readyState == 4){
					$(self).find('button').attr('disabled', null);
					if(xhr.status >= 200 && xhr.status < 400){
						var layers = JSON.parse(xhr.responseText);
						console.log(layers);
						console.log($('#add-wms-form').find('select'));
						$('#add-wms-form').find('select')
							.empty()
							.append( $('<option>').attr('value', '').attr('disabled', '').attr('selected', '').html('Elige capas a añadir') ).material_select();
						layers.forEach(function(l){
							$('#add-wms-form').find('select').append( $('<option>').attr('value', l['Name']).html(l['Name']) ).material_select();
						});
						$('#add-wms-form').find('button').attr('disabled', null);
						Materialize.toast('Capas obtenidas correctamente', 2500);
					} else {
						$('#add-wms-form').find('select').empty().material_select();
						$('#add-wms-form').find('button').attr('disabled', '');
						Materialize.toast('Error obteniendo capas : ' + xhr.responseText, 2500);
					}
				}
			}
			console.log($('#url_servicio').val());
			xhr.send('service_url=' + encodeURIComponent($('#url_servicio').val()));
		});
