extends layout

block link
	// Openlayers 3
	link(rel="stylesheet" href="/javascripts/ol3/ol.css")
	// ol3-ext
	link(rel="stylesheet" href="/javascripts/ol3-ext/control/profilcontrol.css")
	link(rel="stylesheet" href="/javascripts/ol3-ext/control/controlbar.css")
	// Font Awesome
	link(rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.css")
	// MaterializeCSS
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css")
	// Custom Css
	link(rel="stylesheet" href="/stylesheets/style.css")
block content
	#map
	.coords-scale-container(style="position : absolute; right : 0.5em; bottom : 0.5em;z-index : 1; height : auto;")
		#coords25830
		#coords4258
	#modal-perfil.modal.bottom-sheet
		.modal-header.card-panel.lighten-2(style="text-align : center; margin-top : 0px;")
			h4.flow-text.blue-text.text-darken-2 Perfil
		.modal-content(style="padding : 0px;")
			#perfil-container
		.modal-footer
			a.modal-action.modal-close.waves-effect.waves-green.btn-flat Aceptar
block script
	// jQuery
	script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
	// Openlayers 3
	script(src="/javascripts/ol3/ol-debug.js")
	// MaterializeCSS (Google)
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js")
	// ol3-ext 
	script(src="/javascripts/ol3-ext/interaction/drawregularinteraction.js")
	script(src="/javascripts/ol3-ext/control/profilcontrol.js")
	script(src="/javascripts/ol3-ext/control/togglecontrol.js")
	script(src="/javascripts/ol3-ext/control/canvasscalelinecontrol.js")
	script(src="/javascripts/ol3-ext/control/controlbar.js")
	script(src="/javascripts/ol3-ext/control/overview.js")
	//proj4js
	script(src="/javascripts/proj4js/dist/proj4.js")
	// ol-utils
	script(src="/javascripts/ol-utils/projs.js")
	script(src="/javascripts/ol-utils/map.js")
	script(src="/javascripts/ol-utils/bar.js")
	script(src="/javascripts/ol-utils/perfil.js")