extends layout

block link
	// jQuery UI
	link(rel="stylesheet" href="/javascripts/jquery-ui/jquery-ui.min.css")
	// Openlayers 3
	link(rel="stylesheet" href="/javascripts/ol3/ol.css")
	// ol3-ext
	link(rel="stylesheet" href="/javascripts/ol3-ext/control/profilcontrol.css")
	link(rel="stylesheet" href="/javascripts/ol3-ext/control/controlbar.css")
	link(rel="stylesheet" href="/javascripts/ol3-ext/control/layerswitchercontrol.css")
	// MaterializeCSS
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css")
	// Materialize Icons
	link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	// DynaTable
	link(rel="stylesheet" href="/javascripts/dynatables/jquery.dynatable.css")
	// Custom CSS
	link(rel="stylesheet" href="/stylesheets/style.css")
block content
	#map
		// Menú lateral
		ul#slide-out.side-nav.fixed
			a#close-sidenav(href="#" style="position : absolute ; right : 0em; top : 0em; font-size : 2em; z-index : 1;" class="material-icons red-text hide-on-large-only") clear
			li(style="background : url('http://www.betera.com/wp-content/uploads/policia-local-31.jpg'); background-size : 150%;")
				.userView
					a()
						i.material-icons.prefix.circle.white-text.darken-2(style="font-size : 5em;") account_circle
					if (user)
						a()
							span.black-text.name #{user.name}
						a(href='#!email')
							span.black-text.email #{user.email}
					else
						a()
							span.black-text.name Usuario Invitado
						a()
							span.black-text.email -----			

			li
				a(href='/') Inicio
			li
				.divider
			li.no-padding
				ul.collapsible.collapsible-accordion
					li
						a.collapsible-header
							| Mapas
							i.material-icons(style="float : right; margin : 0px;") arrow_drop_down
						.collapsible-body#layerSwitcher
			li
				.divider
			li
				a.waves-effect(href='#!') Imprimir Mapa
			li
				.divider
			li
				a.subheader Footer Prueba
	#modal-perfil.modal.bottom-sheet.hoverable
		.modal-header.card-panel.indigo.darken-2(style="text-align : center; margin : 0px; top: 0px;")
			h4.flow-text.white-text.text-darken-2(style="margin : 0px") Perfil
		.modal-content(style="padding : 0px;")
			#perfil-container(style="padding-top : 15px;")
		.modal-footer.fixed.grey.lighten-2
			a.modal-action.waves-effect.waves-green.btn-flat.tooltipped('data-position' = 'top', 'data-delay' = 50, 'data-tooltip' = 'Elige una opción de descarga')
				i.material-icons.green-text.darken-2 file_download
			a#download-perfil.modal-action.waves-effect.waves-green.btn-flat.tooltipped('data-position' = 'top', 'data-delay' = 50, 'data-tooltip' = 'Descargar Perfil como PNG')
				span.font-size-1.indigo-text.darken-2.flow-text PNG
			a#download-perfil-geojson.modal-action.waves-effect.waves-green.btn-flat.tooltipped('data-position' = 'top', 'data-delay' = 50, 'data-tooltip' = 'Descargar LineStringZ como GeoJSON')
				span.font-size-1.indigo-text.darken-2.flow-text GeoJSON
	#modal-feature.modal.bottom-sheet.hoverable
		.modal-header.card-panel.indigo.darken-2(style="text-align : center; margin : 0px;")
			h4.flow-text.white-text.text-darken-2(style="margin : 0px") Información
		.modal-content(style="padding : 0px; overflow-x : hidden;")
		.modal-footer.grey.lighten-2
block script
	// jQuery
	script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
	// jQuery UI
	script(src="/javascripts/jquery-ui/jquery-ui.min.js")
	// Openlayers 3
	script(src="/javascripts/ol3/ol-debug.js")
	// MaterializeCSS (Google)
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js")
	//Dynamic Tables
	script(src="/javascripts/dynatables/jquery.dynatable.js")
	// ol3-ext 
	script(src="/javascripts/ol3-ext/interaction/drawregularinteraction.js")
	script(src="/javascripts/ol3-ext/control/profilcontrol.js")
	script(src="/javascripts/ol3-ext/control/togglecontrol.js")
	script(src="/javascripts/ol3-ext/control/canvasscalelinecontrol.js")
	script(src="/javascripts/ol3-ext/control/controlbar.js")
	script(src="/javascripts/ol3-ext/control/overview.js")
	script(src="/javascripts/ol3-ext/style/fontsymbol.js")
	script(src="/javascripts/ol3-ext/style/fontawesome.def.js")
	script(src="/javascripts/ol3-ext/control/layerswitchercontrol.js")
	//proj4js
	script(src="/javascripts/proj4js/dist/proj4.js")
	// ol-utils
	script(src="/javascripts/ol-utils/controls/mouse-position.js")
	script(src="/javascripts/ol-utils/controls/side-menu.js")
	script(src="/javascripts/ol-utils/controls/modal.js")
	script(src="/javascripts/ol-utils/controls/measure.js")
	script(src="/javascripts/ol-utils/controls/perfil.js")
	script(src="/javascripts/ol-utils/controls/select-control.js")
	script(src="/javascripts/ol-utils/controls/gps.js")
	script(src="/javascripts/ol-utils/layers.js")
	script(src="/javascripts/ol-utils/map-controller.js")
	//script(src="/javascripts/ol-utils/projs.js")
	//script(src="/javascripts/ol-utils/map.js")
	//script(src="/javascripts/ol-utils/bar.js")
	//script(src="/javascripts/ol-utils/controls/perfil.js")
