extends layout

block link
    // MaterializeCSS
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css")
    // Materialize Icons
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    // Custom Css
    link(rel="stylesheet" href="/stylesheets/style.css")
block header
    head 
        .navbar-fixed
            nav.indigo.darken-3
                .container
                    .nav-wrapper
                        a.brand-logo SIG Bétera
                        ul.left.hide-on-large-only(style="padding-right : 10px;")
                            li
                                a#menu-mobile.button-collapse(href="#" data-activates="slide-out")
                                    i.material-icons menu
                        ul.right
                            li.hide-on-med-and-down
                                a(href="/visor") Visor
                            if !user
                                li.hide-on-med-and-down
                                    a.new-user-btn(href='#') Registrarse
                            if user
                                li.hide-on-med-and-down
                                    a.truncate
                                        i.material-icons.left.white-text person
                                            | #{user.name}
block content
    ul#slide-out.side-nav(style="z-index : 1000;")
        li(style="background : url('http://www.betera.com/wp-content/uploads/policia-local-31.jpg'); background-size : 150%;")
            .userView
                a()
                    i.material-icons.prefix.circle.white-text.darken-2(style="font-size : 5em;") account_circle
                if (user)
                    a()
                        span.black-text.name #{user.name}
                    a(href='#!email')
                        span.black-text.email #{user.email}
                else
                    a()
                        span.black-text.name Usuario Invitado
                    a()
                        span.black-text.email -----	
    #modal-registro.modal.modal-fixed-footer
        .modal-header
            .card-panel.indigo.lighten-2.white-text(style="margin-top : 0px; height : 4em") Nuevo Usuario
                i.material-icons.left person_add
            .row(style="margin-bottom : 3.5em;")
                form#registro-form.col.s12(action="/usuarios/signup", method = "POST" )
                    .row
                        p.indigo-text Datos personales
                        .input-field.col.s12.m6
                            input#nombre-form.validate(placeholder='Escriba su nombre', type='text' name="nombre" )
                            label(for='nombre-form') Nombre
                        .input-field.col.s12.m6
                            input#apellidos-form.validate(placeholder='Escriba sus apellidos', type='text' name="apellidos" )
                            label(for='apellidos-form') Apellidos
                    .row
                        p.indigo-text Datos de usuario
                        .input-field.col.s12.m6
                            input#email-form.validate(placeholder='Escriba su e-mail', type='email' name="email" )
                            label(for='email-form') e-mail
                        .input-field.col.s12.m6
                            input#name.validate(placeholder='Escriba su nombre de usuario', type='text' name="name" )
                            label(for='name-form') Nombre de usuario
                    .row
                        .input-field.col.s12.m6
                            input#nombre.validate(placeholder='Escriba su clave', type='password' name="password" )
                            label(for='password-form') Clave de acceso
                        .input-field.col.s12.m6
                            input#repassword.validate(placeholder='Repita clave de acceso', type='password' name="repassword" )
                            label(for='repassword-form') Repetir clave de acceso
                        .row
                    button#submit-signup.col.s12.waves-effect.waves-light.waves-green.btn-large(type="submit" style="z-index : 0") Registrarse
                        i.material-icons.right send
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Cancelar
    .parallax-container
        .parallax
            img(src="/images/betera-fondo-1.jpg" style="display : block; transform: translate3d(-60%, 0px, 0px);")
    .section.white
        .row.container.valign-wrapper
            .col.s6.valign(style="height : 100px; background-image : url('/images/betera-logo.png'); background-size : contain; background-repeat : no-repeat;background-position : 50%;")
            .col.s6.valign
                h2.center-align.blue-text.lighten-3 SIG Bétera
        .row.container.white.lighten-3
            .col.s12
                .card-panel.indigo.lighten-2.white-text(style="margin-top : 0px; height : 4em") Nueva contraseña
                    i.material-icons.left vpn_key
                .row(style="margin-bottom : 3.5em;")
                    form#update-password-form.col.s12(action="/usuarios/password" method = "PUT" )
                        .row
                            p.indigo-text Rellena los campos para reconfigurar la contraseña de tu cuenta
                            .input-field.col.s12.m6
                                input#password.validate(placeholder='Escriba su clave', type='password' name="password" )
                                label(for='password-form') Clave de acceso
                            .input-field.col.s12.m6
                                input#repassword.validate(placeholder='Repita clave de acceso', type='password' name="repassword" )
                                label(for='repassword-form') Repetir clave de acceso
                        .row
                            button#submit-update-password.col.s12.waves-effect.waves-light.waves-green.btn-large(type="submit" style="z-index : 0") Enviar
                                i.material-icons.right send
    .parallax-container
        .parallax
            img(src="/images/betera-fondo-2.jpg" style="display : block; transform: translate3d(-50%, 385px, 0px);")
block script
    // jQuery
    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    // MaterializeCSS (Google)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js")
    script.
        $('input').val('');
        $('form').trigger('reset');
        $('.button-collapse').sideNav();
        function setParallaxHeight(e){$('.parallax-container').css('height', $(window).innerHeight() / 2);}
        setParallaxHeight();
        $(window).on('resize', setParallaxHeight);
        $('.parallax').parallax();

        $('#login').keyup(onEnterKeyLoginForm);

        $('#login').submit(onSubmitLogin);
        $('#update-password-form').submit(onSubmitUpdatePassword);

        $('#submit-login').bind('click', function(){ $('#login').submit(); })


        function onEnterKeyLoginForm(e){
            if(e.which == 13){
                $('#login').submit();
            }
        }

        function onSubmitUpdatePassword(e){
            e.preventDefault();
            $('#submit-update-form').attr('disabled', 'disabled');
            var xhr = new XMLHttpRequest();
            xhr.open('PUT', '/usuarios/password', false);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function(){
                if(xhr.readyState === 4){
                    $('#submit-update-form').attr('disabled', null);
                    if(xhr.status < 400){
                        Materialize.toast('Contraseña cambiada correctamente');
                        setTimeout(function(){window.location = '/'}, 1000);
                    }
                    else {
                        Materialize.toast('Error : ' + xhr.responseText, 3500);
                    }
                }
            }

            xhr.send($.param([
                { name : 'token', value : '#{token}' },
                { name : 'password', value : $('#update-password-form').find('[name = "password"]').val() },
                { name : 'repassword', value : $('#update-password-form').find('[name = "repassword"]').val() }
            ]));
        }

        function onSubmitLogin(e){
            e.preventDefault();
            $('#submit-login').attr('disabled', 'disabled');
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/usuarios/login', false);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function(){
                if(xhr.readyState === 4){
                    $('#submit-login').attr('disabled', null);
                    if(xhr.status < 400){
                        window.location.href = '/visor';
                    }
                    else {
                        Materialize.toast('Error de autenticación : ' + xhr.responseText, 3500);
                    }
                }
            }

            xhr.send($.param([
                { name : 'username', value : $('#login').find('[name = "username_email"]').val() },
                { name : 'password', value : $('#login').find('[name = "password"]').val() }
            ]));
        }

        $('.new-user-btn').click(function(e){
            e.preventDefault();
            $('#modal-registro').openModal();
        });

        $('#registro-form').submit(onSubmitSignup);
        function onSubmitSignup(e){
            e.preventDefault();
            $('#submit-signup').attr('disabled', 'disabled');
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/usuarios/signup', false);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function(){
                if(xhr.readyState === 4){
                    $('#submit-signup').attr('disabled', null);
                    if(xhr.status < 400){
                        $('#modal-registro').closeModal();
                        Materialize.toast('¡Usuario creado con éxito, revisa tu correo para finalizar el registro!', 2500);
                    }
                    else {
                        Materialize.toast('Error creando usuario : ' + xhr.responseText, 2500);
                    }
                }
            }

            xhr.send( $(this).serialize() );
        }