html, body, #map {
  width : 100% !important;
  height : 100% !important;
  margin : 0;
  padding : 0;
}

.ol-mouse-position-custom {
  color :#000;
}

/* Hide info for profil on map */
/*.ol-control.ol-profil table
{	display: none;
}
*/
/* Customize cursor color*/
/*.options .ol-profilbar, .options .ol-profilcursor::before
{	background-color: blue;
}
*/

.loading-active {
  visibility : hidden;
}

.font-size-1{
  font-size: 0.75em;
}

.padding-1{
  padding : 0.15em;
}

.btn {
  width : 100%;
}

.ol-scale-line {
    left:auto;
    right: 0.5;
}

/*.coords-scale-container {
  visibility : hidden;
  pointer-events: none;
}*/

.layerswitcher-opacity {
  width : 75% !important;
  border : none !important;
}

.ol-layerswitcher{
  width : 80%;
  margin : 0px auto;
}

.track-info div, .point-info div {
  font-size : 0.8em !important;
}

.ol-layerswitcher .panel li label {
  max-width: 80%;
}

.ol-layerswitcher .panel li:first label {
  color : #ffbb00;
}

.tooltip {
  color : #fff;
  background: rgba(0,0,0,0.5);
}

.tooltip-measure {
  border : 1px dashed #000;
  background: rgba(255,255,255,0.5);
}

.modal {
  max-height : 90% !important;
  min-height: 45%;
  height : 45%;
  max-width : 100%;
  min-width : 35%;
  overflow : hidden;
}

table td, table th {
  text-align: center;
}

.modal {
  z-index : 0;
}

.side-nav {
  z-index : 1;
}

.modal-header {
  height : 4em;
}

.modal-footer{
  position : absolute;
  bottom : 0px;
}

.modal-content {
  position: absolute;
  left : 0px;
  right: 0px;
  top : 4em;
  bottom : 3em;
  overflow-y : scroll;
}

.modal-content {
  margin : 20 10 20 10px;
}